body {
    margin: 0; 
    padding: 0;
    background: #19161c;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
  font-family: "Manrope", monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif ;
}

.main__container {
    position: relative;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.main__container:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.main__container i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}

.main__container:hover i{
    opacity: 0;
    z-index: -1;
}

.response__container{
    color: #ffd52d;
}

.header__container{
    color: #ffd52d;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container h1{
    font-size: 50px;
    margin: 0;
}